Исходный код/Program/VFS.InMemoryVirtualDrive/ConfigSchema.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
  <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
  <xs:element name="InMemoryVirtualDrive">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MaxFileNameLength" type="xs:int"></xs:element>
        <xs:element name="MaxDirectoryNameLength" type="xs:int"></xs:element>
        <xs:element name="DriveName" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>